DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DBNAME?channel_binding=require&sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DBNAME?channel_binding=require&sslmode=require"
NEON_BRANCH=production
NEXT_PUBLIC_SITE_URL=https://nextmind-delta.vercel.app
